# Игнорируем папки настроек IDE во всех проектах
.idea/
.vscode/

# Игнорируем папки с тяжелыми данными во всех проектах
data/
**/data/

# Игнорируем папки с весами моделей и чекпоинтами
models/
**/models/
weights/
**/weights/

# Дополнительно: исключаем тяжелые расширения файлов на случай, 
# если они лежат не в папках data или model
*.pt
*.pth
*.onnx
*.pkl
*.h5
*.csv
*.tsv
*.zip
*.tar.gz